<%- messages() %>

<h1><%= title %></h1>

<% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<div class="register-container">
  <form id="registerForm" action="/account/register" method="post">
    <div class="form-group">
      <label for="firstname">First Name:</label>
      <input
        type="text"
        id="firstname"
        name="account_firstname"
        required
        value="<%= locals.account_firstname ? account_firstname : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="lastname">Last Name:</label>
      <input
        type="text"
        id="lastname"
        name="account_lastname"
        required
        value="<%= locals.account_lastname ? account_lastname : '' %>"
      />
    </div>
    <div class="form-group">
      <label for="email">Email:</label>
      <input
        type="email"
        id="email"
        name="account_email"
        required
        value="<%= locals.account_email ? account_email : '' %>"
      />
    </div>
    <div class="form-group password-field">
      <label for="password">Password:</label>
      <div class="password-input-container">
        <input
          type="password"
          id="password"
          name="account_password"
          required
          pattern="^(?=.*\d)(?=.*[A-Z])(?=.*[a-z])(?=.*[^a-zA-Z0-9\s]).{12,}$"
        />
      </div>
    </div>
    <button type="button" id="show-password" class="show-password">
      Show Password
    </button>
    <div class="password-requirements">
      <p>Password must be:</p>
      <ul>
        <li>at least 12 characters</li>
        <li>contain at least 1 capital letter</li>
        <li>contain at least 1 number</li>
        <li>contain at least 1 special character</li>
      </ul>
    </div>
    <div class="form-group">
      <button type="submit">Register</button>
    </div>
  </form>

  <div class="login-link">
    <p>
      Already have an account?
      <a href="/account/login">Login</a>
    </p>
  </div>
</div>

<script src="/js/utils.js"></script>
<script>
  initializePasswordToggle();
</script>
